/* style.css */

body {
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #007BFF; /* Change this color to your preferred highlight color */
}

nav ul li a .nav-item {
    margin-left: 10px;
}

nav ul li a i {
    font-size: 20px;
}

.logo-item {
    font-weight: bold;
}

.main {
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date h2 {
    margin: 0;
}

.attendance-list h1 {
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}
