/* General styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.dark-mode {
  /* Dark mode styles */
  font-family: 'Inter', sans-serif;
  background-color: #333;
  color: #363232;
}

.nav-dark-mode {
  /* Dark mode styles */
  font-family: 'Inter', sans-serif;
  background-color: #062d18;
  color: #ffffff;
}


/* General styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    background: rgba(255, 255, 255, 0.795);
  }
  
  nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 160px;
    background: #385c25;
    overflow: hidden;
    transition: width 1s;
  }
  
  nav:hover {
    width: 300px;
    transition: width 1s;
  }
  
  .logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  
  .logo-item {
    position: center;
    top: 12px;
    margin-left: 27px;
    bottom: 12px;
  }
  
  .logo img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
  }
  
  .logo span {
    padding-left: 1px;
    padding-right: 5px;
    font-size: 20px;
    margin-top: 5px;
    text-transform: uppercase;
    align-self: center;
  }
  
  a {
    position: relative;
    width: 300%;
    font-size: 14px;
    color: white;
    display: table;
    padding: 10px;
  }
  
  nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 25px;
    text-align: center;
  }
  
  .nav-item {
    position: center;
    top: 12px;
    margin-left: 10px;
    bottom: 12px;
  }
  
  a:hover {
    background: whitesmoke;
    color: green;
  }
  
  a:hover i {
    color: green;
  }
  
  .logout {
    position: absolute;
    bottom: 0;
  }
  
  .container {
    display: flex;
    overflow-x: auto;
  }
  
  /* Main section */
  .main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-top {
    position: relative;
    width: 100%;
    padding-right: 25px;
  }
  
  .main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
  }
  
  .dateAndTime {
    padding-left: 10px;
  }
  
  /* Attendance list */
  .attendance {
    margin-top: 30px;
    text-transform: capitalize;
  }
  
  .attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0.1);
  }
  
  .table {
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  
  .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .date {
    border: 2px solid #385c25ee;
    background-color: #385c25;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  /* Specify horizontal and vertical offset, blur radius, and color */ 
    padding: 20px;
    color: whitesmoke;
  }
  
  #dateAndTime {
    font-size: 20px;
  }
  
  /* Style for the filter buttons */
  .filter-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #0aa049;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .filter-btn:hover {
    background-color: #0056b3;
  }
  
  /* Style for settings box */
  .settings-box {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .settings-option {
    margin-bottom: 20px;
  }
  
  /* Dark mode styles
  body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
  }
  
  body.dark-mode nav {
    background-color: #555;
  }
  
  body.dark-mode nav ul li a:hover {
    background-color: #777;
  }
  
  body.dark-mode input, body.dark-mode button {
    background-color: #555;
    color: #f4f4f4;
  }
  
  body.dark-mode input[type="number"] {
    border: 1px solid #777;
  }
   */
  /* Switch styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #079f0c;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  

/* Dark mode styles
body.dark-mode {
  background-color: #333;
  color: #363232;
}

body.dark-mode nav {
  background-color: #555;
}

body.dark-mode nav ul li a:hover {
  background-color: #777;
}

body.dark-mode input, body.dark-mode button {
  background-color: #05720e;
  color: #f4f4f4;
}

body.dark-mode input[type="number"] {
  border: 1px solid #777;
} */
